.service-features-style-one .featured p {
    font-size: 18px;
    font-weight: 700;
    /* color: white; */
}

.carousel-box {
    height: 390px;
    width: 300px;
    background: #c4c4c4;
    padding: 250px 10px 10px 10px;
}

.carousel-box h4,
.carousel-box a {
    color: white;
}

.carousel-box i {
    color: white;
    font-size: 12px;
    margin-left: 10px;
}
